@use '../abstracts/variables' as *;

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $bg-color;
  color: $text-color;
  line-height: 1.6;
}

.page-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
