@use '../abstracts/variables' as *;
@use "sass:color";

#in-group button {
  background-color: #e74c3c;
  
  &:hover {
      background-color: #c0392b;
  }
}

#out-of-group button {
  background-color: $secondary-color;
  
  &:hover {
      background-color: color.adjust($secondary-color, $lightness: -10%);
  }
}
